*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
#spending-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home-page{
    background-image:url('../img/3.jpg') ;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
  
}
#plan-budget{
    background-color: rgb(30,43,45);
}
main{
    position: relative;
    min-height: 100vh;
}
#content{
    padding-bottom: 100px ;
}
header{
    background-color: rgb(140,147,128);
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    margin: 0px;
    height: 100px;
    /* border: 0.5px solid white; */
}

#logo-img{
    width: 100px;
    height: 98px;
}

nav{
    display: flex;
    gap:15px
}
a{
    text-decoration: none;
    color:white;
    padding: 4px;
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
}

footer{
    background-color: rgb(140,147,128);
     height: 40px;
     position: absolute;
     bottom: 0;
     width: 100%;
     /* border: 0.5px solid white; */
    
}
footer > p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    position: relative;
    left: 1567px;
    top:25px;
}
#save{
    color: white;
    font-family: 'My Soul', cursive;
    position: relative;
    left: 1200px;
    top:180px;
    font-size: 130px;
}
#sage{
    color: white;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    left: 1200px;
    top:100px;
    font-size: 80px;
}
#add-spendings{
    color: white;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    left:615px;
    font-size: 50px;
}
#list{
     color: white;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    left:600px;
    bottom:40px;
    font-size: 30px;
}
#label1{
    color:white;
    font-family: 'Quicksand', sans-serif;
}
.spending-types{
    font-family: 'Quicksand', sans-serif;
}
select {
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px; 
  }
  .options {
    display: flex;
    align-items: center;
    display: inline-block;
    

   
  }
  .money1{
    box-sizing: border-box;
  width: 200px;
  padding: 5px;
  height: 25px;
  }
  #date{
    box-sizing: border-box;
    padding: 5px;
    height: 25px;
  }
  #income-input{
    box-sizing: border-box;
    padding: 5px;
    height: 25px;
  }
  .btn{
    background-color: #007BFF; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 10px; 
    transition: background-color 0.3s ease-in-out; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  #addMoreSpendings{
    font-size: 50px;
    position: relative;
    left:850px;
    top: 20px;
    background-color: transparent; 
    border: none; 
    color: #ffffff; 
    cursor: pointer;
  }
  #addMoreSpendings:hover {
    color: #007BFF;
  }
  #listOfBudgets{
    background-color: rgb(30,43,45);
  }
.labels{
  color: white;
}

#input-container{
  position: relative;
  left:500px;
  box-sizing: border-box;
  padding: 5px;
  height: 16px;
}

.inputs{
  height: 16px;
}

.input-row {
  display: flex;
  gap:10px;
  margin-bottom: 10px; 
}


.input-field {
  margin-right: 10px; 
}
span{
  color: white;
  font-size: 15px;
}
p{
  color:white;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  left:730px;
}
